@import "../../abstracts/mixins";

.stockpage {
    background-color: RGBA(var(--color-principal));
    padding: 2rem 0 5rem;
}

.stockpage-header {
    display: flex;
    align-items: flex-start;

    max-width: 200rem;
    width: 95vw;
    margin: 0 auto 10rem;

    & > a:first-of-type {
        text-decoration: none;
        margin-right: 15%;

        @include respond(tab-port) {
            margin-right: 5%;
        }
        & > div:first-of-type {
            display: flex;
            align-items: center;
        }
    }
}

.stockpage-main {
    max-width: 200rem;
    width: 95vw;
    margin: 0 auto 10rem;

    &__price {
        padding: 3rem;
        margin-bottom: 5rem;
        box-shadow: var(--shadow-dark);
        border: 1px solid #142d69;
        border-radius: 3rem;

        @include respond(phone) {
            padding: 1.5rem;
        }
    }

    &__news-finance {
        display: flex;
        justify-content: space-between;

        margin-bottom: 5rem;

        @include respond(tab-land) {
            flex-direction: column;
        }

        & > div:first-of-type {
            flex: 1;
            max-width: 114rem;
            min-width: 87rem;

            margin-right: 3rem;

            @include respond(tab-land) {
                order: 2;

                max-width: none;
                min-width: 0;
                width: 100%;

                margin: 0;
            }
        }
        & > div:nth-child(2) {
            @include respond(tab-land) {
                display: flex;
                justify-content: space-between;
                margin-bottom: 5rem;
            }

            @include respond(phone) {
                flex-direction: column;
                margin: 0 auto 5rem;
            }
        }
    }

    &__map {
        // padding: 2rem;
        box-shadow: var(--shadow-light);
        border: 1px solid #142d69;
        border-radius: 2em;
        overflow: hidden;
    }
}
