@font-face {
    font-family: "Roboto";
    src: local("Roboto"), url(./Roboto-Regular.ttf) format("truetype");
    // font-weight: 600 !important;
    font-style: normal;
}
@font-face {
    font-family: "RobotoBold";
    src: url(./Roboto-Bold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: local("Poppins"), url(./Poppins-Regular.ttf) format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "PoppinsBold";
    src: local("PoppinsBold"), url(./Poppins-Bold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}
